; *** MAIN only scatter (NONMAIN stays from first flash) ***

LR_IROM1 0x00000000 0x00020000  {
  ER_IROM1 0x00000000 ALIGNALL 8 0x00020000 {
   *.o (RESET, +First)
   *(InRoot$$Sections)
   .ANY (+RO)
   .ANY (+XO)
  }
  RW_IRAM2 0x20200000 0x00008000 {
   .ANY (+RW +ZI)
   .ANY (.ramfunc)
  }
}
